@import 'https://fonts.googleapis.com/css?family=Lato:400,700';
html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: steelblue;
    display: flex;
    justify-content: center;
    align-items:center;
}

main {
    display: flex;
    flex-direction: column;
/*     background-color: lightsteelblue;
    height: 40vh;
    width: 30vw;
    border-radius: 20px; */
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 0;
}